#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -150px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 200px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: black; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #add-paragraph {
    top: 120px;
    background-color: rgba(85, 131, 206, 0.781);
  }
  
  #add-image {
    top: 180px;
    background-color: rgba(85, 131, 206, 0.781);
  }
  
  #add-video {
    top: 240px;
    background-color: rgba(85, 131, 206, 0.781);
  }
  
  #create-gallery {
    top: 300px;
    background-color: rgba(85, 131, 206, 0.781);
  }

  .sidenav-icon{
      width: 30px;
      height: 30px;
      float: right;
  }